.welcome .logout_btn{
   grid-column: 3 / span 2;
   font-size: 1rem;
   text-transform: uppercase;
   padding: 10px 20px;
   background-color: black;
   border-radius: 50px;
   color: white;
   margin-bottom: 20px;
}

.welcome .logout_btn i{ margin-left: 5px; }

.welcome .logout_btn:hover,
.welcome .logout_btn:focus{
   background-color: white;
   color: black;
}

.btn-add i, .btn-update i, 
.btn-login i, .btn-signup i{
   font-size: 1.5rem;
   line-height: 1.2;
}

.btn-add, .btn-update, .btn-login, .btn-signup,
#show_pending, #show_checked, #show_all, #order_all {
   width: 60px;
   height: 60px;
   border: none;
   border-radius: 50%;
   background-color: black;
   color: white;
   text-transform: uppercase;
}

#order_all i{ transform: rotate(90deg);}

.btn-add i, .btn-update i, .btn-login i, 
.btn-signup i{ line-height: 60px; }

.btn-selection{
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 50px;
}

#show_pending, #show_checked, 
#show_all, #order_all{
   min-width: 80px;
   height: 40px;
   border-radius: 50px;
   margin-top: 20px;
}

.btn-delete, .btn-edit, .btn-check{
   min-width: 40px;
   height: 40px;
   line-height: 40px;
   color: white;
   background-color: black;
   border-radius: 50%;
}

.btn-add, .btn-update, .btn-delete, 
.btn-edit, .btn-check{
   transition: 0.1s ease-in-out;
   cursor: pointer;
   display: block;
   text-align: center;
}

.btn-add:hover, .btn-add:focus, 
.btn-update:hover, .btn-update:focus,
.btn-login:hover, .btn-login:focus, 
.btn-signup:hover, .btn-signup:focus,
#show_pending:hover, #show_checked:hover, 
#show_all:hover, #show_pending:focus, 
#show_checked:focus, #show_all:focus,
#order_all:hover, #order_all:focus{
   background-color: white;
   color: black;
}

.btn-edit:hover, .btn-edit:focus{background-color: var(--yellow);}

.btn-delete:hover, .btn-delete:focus{ background-color: var(--red); }

.btn-check:hover, .btn-check:focus{ background-color: var(--green); }

.btn_checked{ background-color: var(--green); }

/* @media only screen and (max-width: 480px){
   .btn-add, .btn-update {
      min-width: 10px;
      height: 40px;
   }

   .btn-add, .btn-update i{ line-height: 50px; }
} */