*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #52bfff;
    font-family: "IBM Plex Sans", sans-serif;
}

h1{
    font-weight: 900;
    font-size: 7em;
    line-height: .9;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 20px;
}

h2{
    font-weight: 700;
    font-size: 2em;
    line-height: .9;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

input{
    width: 80%;
    height: 60px;
    padding: 20px;
    border: none;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    margin-right: 10px;
    color: black;
    text-transform: uppercase;
}

::placeholder{
    color: magenta;
    font-weight: 400;
}

footer{
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    margin-bottom: 40px;
}

a{
    text-decoration: underline;
    text-underline-offset: 0;
    text-decoration-color: transparent;
    color: black;
    font-weight: 400;
    transition: 0.2s ease-in-out;
}

a:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.btn-go{
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    margin-left: 10px;
}

.btn-go:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

/* .begin{
    display:block;
    text-align: center;
} */

.error{
    display: none;
    width: 100%;
    padding: 15px 30px;
    border-radius: 100px;
    background-color: black;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    vertical-align: middle;
}

.begin, .result{
    width: 100%;
    display: none;
    color:black;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
}

.begin{
    display: block;
    margin-bottom: 40px;
}

.tempName, .name, .gender, .age, .country{
    font-weight: 700;
    font-size: 3em;
    text-transform: capitalize;
}

.tempName, .name{
    margin-bottom: 5px;
}

.genderProbability{
    margin: -10px 0px 40px;
}

.age{
    font-size: 2em;
    text-transform: lowercase;
    margin-bottom: 40px;
}

.country{
    font-size: 2em;
    margin-bottom: 40px;
}

.countryTitle{
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.countryProbability{
    font-size: 1em;
    margin: -40px 0 40px;
}

#icon, #iconBegin{
    font-size: 10em;
    padding: 50px 100px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}

.probability, 
.genderProbability, 
.countryProbability{
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.probability{
    background-color: black;
    color: white;
    padding: 15px 30px 20px;
    border-radius: 100px;
    font-size: 1.5em;
    margin-bottom: 20px;
}