@import url("style.css");

/* === Desktop big screens === */
@media only screen and (min-width: 1729px) {
   .hero .text_box{ 
      width: 85%;
      margin-top: 50px; 
   }

   .hero img{ width: 500px;}

   .hero .triangle{ 
      top: 80%; 
      left: calc(50% + 500px);
   }

   .hero .decorations img:nth-child(1){ 
      top: 82%; 
      left: calc(43% - 40px);
   }
   
   .hero .decorations img:nth-child(2){ 
      top: 87%; 
      left: calc(34% - 40px);
   }
   
   .hero .decorations img:nth-child(3){ 
      top: 92%; 
      left: calc(37% + 230px);
   }

   .about{ margin-top: 100px;}

   .about .square1, .about .square2,
   .about .square3, .about .square4{ padding: 20px 40px; }

   .projectE3 table tr td,
   .projectE3 table thead th{ padding: 0 40px; }

   .cta_subscribe{ padding: 40px 80px; }
}

/* Tablet big horizontal*/
@media only screen and (max-width: 1180px) {
   body{ 
      font-size: 1.3rem; 
      overflow: hidden;
   }

   h1, h3{ 
      font-size: 52px; 
      line-height: 1.1;
   }

   h2{
      font-size: 24px;
      margin-bottom: 15px;
   }

   h3{ margin-top: 0; }

   h4{ font-size: 30px; }

   .container{
      width: 1180px;
      max-width: 90%;
   }

   .sticky{ position: fixed; }

   .display_grid{ grid-gap: 15px; }

   .btn_yellow{
      padding: 10px 20px;
      font-size: 1rem;
   }

   .logo img{ margin-left: -30px; }

               
   /* Menu */
   .menu{ flex-direction: column; }

   .menu li a{ font-size: 1.2rem; }

   .menu0{
      font-size: 1.8rem !important;
      padding: 5px 9px 7px;
   }

   .hamburger{ 
      display: block;
      cursor: pointer;
      margin-right: 5px;
      z-index: 1;
   }

   .hamburger:hover,
   .hamburger:focus,
   .hamburger:active {
      background-color: black;
      color: white;
   }

   .drop_menu{
      background: white;
      box-shadow: 0 0 50px rgba(0, 0, 0, .65);
      border-radius: var(--radius30);
      position: absolute;
      top: 29.4%;
      right: 5px;
      padding: 10px;
      width: 320px;
      display: none;
   }

               
   /* Hero */
   .hero{ 
      height: 680px; 
      margin-top: 140px;
   }

   .hero .text_box{ 
      width: 100%; 
      margin-top: 30px;
   }

   .hero img{ width: 275px; }
   
   .hero .photo_hero_boy{ 
      top: 20%; 
      right: 22%
   }

   .hero .photo_hero_girl{ top: -18%; }

   .hero .star{
      width: 270px;
      top: -15%;
      left: calc(50% + 10px);
   }

   .hero .triangle{
      width: 200px;
      top: 60%;
      left: calc(50% + 330px);
   }

   .hero .decorations .waves_single{ width: 220px; }
   
   .hero .decorations img:nth-child(1){ 
      top: 74%; 
      left: calc(43% + 40px);
   }
   
   .hero .decorations img:nth-child(2){ 
      top: 79%; 
      left: calc(32% + 15px);
   }
   
   .hero .decorations img:nth-child(3){ 
      top: 84%; 
      left: calc(37% + 270px);
   }

               
   /* About */
   .about .display_grid{ grid-template-columns: 335px 1fr 1fr; }

   .about .grid_span2{ grid-column: 1; }

   .about .grid_span4{ grid-column: 2 / span 6; }

   .about_square{ gap: 15px; }

   .about .square1, .about .square2,
   .about .square3, .about .square4{
      width: 160px;
      height: 160px;
      padding: 10px;
   }

   .about .square1 img, .about .square2 img,
   .about .square3 img, .about .square4 img{
      width: auto;
      height: 70px;
   }

   .about_square img:nth-child(n){ margin-bottom: 5px; }

   .about .text_box{
      width: 100%;
      margin: 90px 0 0 10px;
   }

               
   /* Project E3 */
   .projectE3{ padding-bottom: 20px; }

   .projectE3 .text_box{ min-height: 300px; }

   .projectE3 .english, .projectE3 .education,
   .projectE3 .empowerment{ 
      padding: 20px; 
      margin-top: 15px;
   }

   .projectE3 .english img, .projectE3 .education img, .projectE3 .empowerment img{  height: 70px; }

   .projectE3 .arrow{ font-size: 2.5rem; }

   .projectE3 table tr td,
   .projectE3 table thead th{ padding: 0; }

   .projectE3 .rectangle{
      width: 320px;
      top: 270px;
      left: 12%;
   }
   
   .projectE3 .circle{
      width: 210px;
      top: -30px;
      right: 0;
   }

               
   /* Featured Project - GVS */
   .project_gvs{ padding-bottom: 20px; }

   .project_gvs .GVS_title{
      font-family: var(--font-body);
      font-weight: 900;
      font-size: 41px;
      margin-bottom: 10px;
   }

   .project_gvs .grid_span6{ grid-column: span 6; }

   .project_gvs_img{ position: relative;
      z-index: -1;
      min-height: 425px; }

   .project_gvs iframe{
      height: 300px;
      margin-top: 10px;
   }

   .project_gvs .star{ display: none; }

   .project_gvs .star_tablet{
      display: block;
      position: absolute;
      width: 350px;
      top: -12%;
      right: 12%;
      z-index: -1;
   }

               
   /* CTA */
   .cta{ padding: 20px 0; }

   .cta .text_box{ padding: 20px 0px 30px 20px; }

   .cta .text_box p{ margin-bottom: 30px; }

   .cta_donate .btn_donate a{ font-size: 1.5rem; }

   .cta_subscribe{ padding: 20px; }

   .cta_subscribe img{ 
      height: 120px;
      margin: 5px auto 15px;
   }

   .cta_subscribe p{ margin-bottom: 20px; }

   .cta_subscribe input{ padding: 5px 10px; }

               
   /* Photo Bottom */
   .photo_bottom_img{
      min-height: 325px;
      margin: 20px 0 20px 0;
   }

   .photo_bottom .decorations .waves_single{
      width: 260px;
      left: -10%;
      z-index: 1;
   }

   .photo_bottom .decorations img:nth-child(1){ top: 40%; }

   .photo_bottom .decorations img:nth-child(2){ top: 55%; }

   .photo_bottom .decorations img:nth-child(3){ top: 70%; }

   .photo_bottom .triangle{
      rotate: 180deg;
      width: 180px;
      bottom: -20%;
      right: -2%;
   }

               
   /* Partners Slider */
   .partners{ padding: 15px 0; }

   .partners .container{ max-width: 700px; }

               
   /* Footer */
   footer{ padding: 25px 30px 10px; }

   footer .display_grid{ 
      grid-template-columns: 50% 1fr 1fr;
      grid-template-rows: 1fr; 
   }

   footer .grid_span3{ 
      grid-column: 1;
      grid-row: 1 / 3;
      padding-right: 20px; 
   }

   footer .site_map{
      grid-column: 2 / 4;
      grid-row: 1;
   }

   footer .grid_span2{ 
      grid-column: 2 / 4;
      grid-row: 2;
      padding-right: 0px; 
      margin-top: -20px
   }

   footer p{
      font-size: 1rem;
      margin-bottom: 15px;
   }

   footer .footer_title{ 
      font-size: 1.3rem; 
      line-height: 1;
   }

   footer a{
      display: inline-block;
      margin: 0 20px 30px 0;
      font-size: 1rem;
   }

   footer .social_media a{
      font-size: 2.3rem;
      margin-right: 45px;
   }
}

/* Tablet small horizontal */
@media only screen and (max-width: 1024px){
   h1, h3{ 
      font-size: 45px; 
      line-height: 1.2;
   }

                  
   /* Menu */
   .hamburger{ margin-right: 140px; }

   .drop_menu{ right: 140px; }

                  
   /* Hero */
   .hero .text_box{ margin-top: 30px; }

   .hero .star{
      top: -19%;
      left: calc(50% - 30px);
   }

   .hero .triangle{
      top: 58%;
      left: calc(50% + 290px);
   }

   .hero .decorations img:nth-child(1){ left: 43%; }
   
   .hero .decorations img:nth-child(2){ left: calc(32% + -30px); }
   
   .hero .decorations img:nth-child(3){ left: calc(37% + 230px); }

                  
   /* About */
   .about .text_box{ margin: 50px 0 0 0; }

   /* Footer */
   footer .grid_span2{ margin-top: 0; }
}

/* Mobile vertical */
@media only screen and (max-width: 480px){
   header{ height: 120px }

   h1, h3{ 
      font-size: 40px; 
      line-height: 1.1;
   }

   .container{ width: 100%; }

   .sticky{ width: 100%; }

   .display_grid{ grid-template-columns: 1fr; }

               
   /* Menu */
   .logo img{ 
      width: auto; 
      height: 110px;
      margin-left: -20px;
   }

   .hamburger{
      font-size: 1.5rem;
      width: 80px;
      margin-right: -10px;
   }

   .drop_menu{
      top: 100%;
      right: 0;
      min-width: 100%;
      padding: 10px;
      box-shadow: 0 0 300px rgba(0, 0, 0, .65);
      z-index: -1;
   }

               
   /* Hero */
   .hero{ margin-top: 110px; }

   .hero .text_box{ 
      width: 100%; 
      margin-top: 10px;
   }

   .hero img{ width: 190px }

   .hero .photo_hero_boy{ 
      top: 85%; 
      left: 0;
   }

   .hero .photo_hero_girl{ 
      top: 70%;
      right: 0; 
   }

   .hero .star{
      width: 200px;
      top: 60%;
      left: 0;
   }

   .hero .triangle{
      width: 130px;
      top: 125%;
      left: 75%;
   }

   .hero .decorations .waves_single{ display: none; }

               
   /* About */
   .about{ margin-top: 300px;}

   .about .grid_span4{ 
      grid-column: 1; 
      grid-row: 1;
   }

   .about .text_box{ margin: 20px auto -10px; }

               
   /* Project E3 */
   .projectE3 .text_box{ min-height: 0; }

   .projectE3 .english, .projectE3 .education,
   .projectE3 .empowerment{ 
      margin-top: 0;
   }

   .projectE3 .rectangle{
      width: 220px;
      top: 160px;
      left: 50%;
   }

   .projectE3 .circle{ display: none; }

               
   /* Project GVS */
   .project_gvs p{ padding-right: 20px; }

   .project_gvs .GVS_title{ font-size: 35px; }

   .project_gvs .grid_span6{ grid-column: 1; }

   .project_gvs_img{ min-height: 350px; }

   .project_gvs iframe{ height: 300px; }

   .project_gvs .decorations .waves_single_mobile{
      display: block;
      position: absolute;
      width: 160px;
      z-index: -1;
   }

   .project_gvs .star{ display: none; }

   .project_gvs .star_tablet{ display: none; }

   .project_gvs .decorations img:nth-child(1){ 
      top: 2%; 
      left: 90%;
   }

   .project_gvs .decorations img:nth-child(2){ 
      top: 5%; 
      left: 70%;
   }

   .project_gvs .decorations img:nth-child(3){ 
      top: 8%; 
      left: 90%;
   }

   .project_gvs .triangle_mobile{
      position: absolute;
      rotate: 180deg;
      width: 130px;
      top: 0;
      bottom: 0;
      right: -7%;
      z-index: -1;
   }

   .project_gvs .circle_mobile{
      display: block;
      position: absolute;
      width: 200px;
      top: 65%;
      right: -15%;
      z-index: -1;
   }

               
   /* CTA */
   .cta{ position: relative; }

   .cta .display_grid{ 
      grid-template-columns: 1fr; 
      grid-template-rows: 1fr 1fr;
   }

   .cta .grid_span4{ 
      grid-column: 1; 
      grid-row: 1;
      margin-bottom: 20px;
   }

   .cta .grid_span2{ 
      grid-column: 1; 
      grid-row: 2;
   }

   .cta .text_box{ 
      padding: 20px; 
      text-align: center;
   }

   .cta_donate{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 300px;
      gap: 15px;
   }

   .cta_donate_img{ border-radius: 0 0 30px 30px ; }

   .cta_subscribe img{ 
      position: relative;
      z-index: 1;
   }

   .cta .star_mobile{
      display: block;
      position: absolute;
      width: 190px;
      top: 58%;
      right: 0;
   }

               
   /* Photo Bottom */
   .photo_bottom { position: relative; }

   .photo_bottom_img{
      min-height: 150px;
      margin: 15px 0;
   }

   .photo_bottom .decorations .waves_single{ display: none; }

   .photo_bottom .triangle{ display: none; }

               
   /* Partners Slider */
   .partners{ 
      padding: 5px 0 0; 
      margin-bottom: -5px;
   }

   .partners .container{ 
      max-width: 65%; 
      margin: 0 auto;
   }

   .partners .slick-arrow{ padding: 0; }

               
   /* Footer */
   footer .display_grid{ grid-template-columns: 1fr; }

   footer .grid_span3{padding: 0;}

   footer .site_map{
      grid-column: 1;
      grid-row: 1;
   }

   footer .grid_span2{ 
      grid-column: 1;
      grid-row: 2;
   }

   footer .grid_span3{ 
      grid-column: 1;
      grid-row: 3;
   }

   footer a{
      display: block;
      margin: 0 0 20px;
      font-size: 1rem;
   }

   footer .social_media a{
      font-size: 2.3rem;
      margin-right: 25px;
   }
}