/* Colors */
:root{
   --yellow: #FFE769;
   --blue: #84CBF3;
   --green: #7CEE81;
   --pink: #FF8FD2;
   --orange: #ffa723;
   --red: #FF6E54;

   --font-title: 'Montagu Slab', serif;
   --font-body: 'Mulish', sans-serif;
   --line-title: 1.15;
   --line-body: 1.3;
   --radius30: 30px;
}
/* === Reset === */
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after { box-sizing: border-box; }
/* 2. Remove default margin */
* { margin: 0; }

html{
   scroll-behavior: smooth;
   overflow-x: hidden !important;
}
/* Typographic tweaks! - 3. Add accessible line-height, 4. Improve text rendering*/
body {
   line-height: var(--line-body);
   -webkit-font-smoothing: antialiased;
   font-family: var(--font-body);
   font-size: 30px;
   font-weight: 400;
   background-color: white;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
   display: block;
   max-width: 100%;
}
/* 6. Remove built-in form typography styles */
input, button, textarea, select { font: inherit; }
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
/* 8. Create a root stacking context */
#root, #__next { isolation: isolate; }

/* === Tags === */
h1, h2, h3, h4{
   font-family: var(--font-title);
   font-size: 75px;
   font-weight: 400;
   line-height: var(--line-title);
   color: black;
   margin-top: 20px;
   z-index: 2 !important;
}

h2{
   font-size: 35px;
   line-height: var(--line-body);
   margin-top: 0;
   margin-bottom: 20px;
}

h3{ margin-top: 0; }

h4{ 
   font-size: 40px;
   margin-top: 0px;
}

header{ 
   position: relative; 
   height: 140px;
}

ul{
   display: flex;
   justify-content: space-between;
	align-items: center;
	list-style: none;
   gap: 10px;
   border-radius: 50px;
   padding: 10px;
}

li, .menu0, .menu1, .menu2, 
.menu3, .menu4, .menu5{
   text-align: center;
   font-size: .9rem;
   font-weight: 400;
   text-transform: uppercase;
   background-color: white;
   border-radius: 50px;
   align-items: center;
}

a{
   text-decoration: none;
   color: black;
   padding: 5px 10px;
   display: inline-block;
}

/* === General Classes === */
.container{
   width: 1728px;
   max-width: 90%;
   margin: 0 auto;
}

/* Grid */
.display_grid{
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-gap: 20px;
}

.grid_span2{ grid-column: span 2; }

.grid_span3{ grid-column: span 3; }

.grid_span4{ grid-column: span 4; }

/* Buttons */
.btn_donate, .cta-donate .btn_donate{
   text-transform: uppercase;
   background-color: var(--red);
   padding: 10px 0;
   border: 2px solid transparent;
}

.btn_donate a, .cta-donate .btn_donate a{
   font-weight: 900;
   font-size: 1.2rem;
   color: white;
   padding: 0 10px;
}

.btn_donate:hover, .btn_donate:focus,
.btn_donate:active{ border: 2px solid black; }

.btn_donate a i, 
.cta-donate .btn_donate a i { margin: 0 10px; }

.btn_yellow{
   text-align: center;
   font-size: 1.25rem;
   font-weight: 600;
   text-transform: uppercase;
   background-color: var(--yellow);
   border: 1px solid black;
   border-radius: 50px;
   padding: 0 20px;
}

.btn_yellow:hover, .btn_yellow:focus,
.btn_yellow:active{ background-color: var(--orange); }

.star, .triangle, .waves, 
.rectangle, .circle, .waves_single{
   position: absolute;
   z-index: -1;
}

/* === Specific Classes === */
/* Header */
.sticky{
	position: sticky;
	top: 0;
	z-index: 100;
}

.logo img{ 
   width: 400px; 
   margin-left: -20px;
}

.menu_bg{
   background-color: white;
   transition: background-color .25s ease-in-out;
}

.menu_flex{
   display: flex;
   justify-content: space-between;
   align-items: center;
   position:relative;
}

.menu{
   display: flex;
   gap:20px;
}

.menu0{
   font-size: 1.3rem;
   padding: 4px 7px 7px;
}

.menu0:hover, .menu0:focus, .menu0:active{
   background-color: black;
   color: white;
}

.menu1:hover, .menu1:focus, .menu1:active{ background-color: var(--yellow); }

.menu2:hover, .menu2:focus, .menu2:active{ background-color: var(--blue); }

.menu3:hover, .menu3:focus, .menu3:active{ background-color: var(--green); }

.menu4:hover, .menu4:focus, .menu4:active{ background-color: var(--pink); }

.menu5:hover, .menu5:focus, .menu5:active{ background-color: var(--orange); }

.hamburger{
   font-size: 2.5rem;
	display: none;
   background: white;
   padding: 5px 20px;
   border-radius: 50px;
   cursor: pointer;
}

               
/* Hero */
.hero{
   height: 1000px;
   /* min-height: 680px; */
   position: relative;
}

.hero .text_box{ width: 95%; }

.hero img{
   position: absolute;
   width: 435px;
}

.hero .photo_hero_boy{
   top: 23%;
   left: calc(50% + 10px);
   z-index: -2;
}

.hero .photo_hero_girl{
   top: -13%;
   left: calc(50% + 350px);
   z-index: -3;
}

.hero .star{
   width: 390px;
   top: -11%;
   left: calc(50% + 30px);
}

.hero .triangle{
   width: 290px;
   top: 80%;
   left: calc(50% + 500px);
   z-index: -4;
}

.hero .decorations .waves_single{ width: 300px; }

.hero .decorations img:nth-child(1){ 
   top: 75%; 
   left: calc(43% - 40px);
}

.hero .decorations img:nth-child(2){ 
   top: 80%; 
   left: calc(34% - 40px);
}

.hero .decorations img:nth-child(3){ 
   top: 85%; 
   left: calc(37% + 230px);
}

               
/* About */
.about .grid_span4{
   grid-column: 3 / span 4;
   grid-row: 1 / span 2;
   margin-top: 60px;
}

.about_square{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
}

.about .square1, 
.about .square3{ grid-column: 1; }

.about .square2, 
.about .square4{ grid-column: 2; }

.about .square1, .about .square2,
.about .square3, .about .square4{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   line-height: 1.2;
   text-align: center;
   height: 260px;
   border-radius: var(--radius30);
   padding: 20px;
}

.about .square1{ background-color: var(--yellow); }

.about .square2{ background-color: var(--green); }

.about .square3{ background-color: var(--blue); }

.about .square4{ background-color: var(--pink); }

.about .square1 img, .about .square2 img,
.about .square3 img, .about .square4 img{
   width: auto;
   height: 120px;
}

.about_square img:nth-child(n){ margin-bottom: 15px; }

.about_square p:nth-child(n){ font-weight: 900; }

.about .text_box{
   width: 90%;
   margin: 195px 0 0 30px;
}

               
/* Project E3 */
.projectE3{
   text-align: center;
   padding: 30px 0 25px;
   align-content: center;
   position: relative;
}

.projectE3 .text_box{
   display: flex;
   align-items: flex-end;
   width: 78%;
   min-height: 500px;
   text-align: left;
}

.projectE3_img{
   background: url(../img/projectE3.jpg);
   background-size: cover;
   background-position: center;
   border-radius: 500px 0 0 500px;
   height: 100%;
}

.projectE3 .english, .projectE3 .education,
.projectE3 .empowerment{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 35px;
   border-radius: var(--radius30);
   margin-top: 20px;
}

.projectE3 .english h4, .projectE3 .education h4,
.projectE3 .empowerment h4{ margin-top: 10px; }

.projectE3 .english{ background-color: var(--pink); }

.projectE3 .education{ background-color: var(--blue); }

.projectE3 .empowerment{ background-color: var(--green); }

.projectE3 .english img, .projectE3 .education img, .projectE3 .empowerment img{
   width: auto;
   height: 120px;
   align-self: center;
}

.projectE3 .accordion {
   background-color: transparent;
   cursor: pointer;
   border: none;
   outline: none;
   transition: 0.4s;
}

.projectE3 .accordion_panel {
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-in-out;
}

.projectE3 .arrow{ 
   font-size: 3rem; 
   padding: 0;
}

.projectE3 .arrow_english:hover,
.projectE3 .arrow_english:focus,
.projectE3 .arrow_english:active{ color: var(--pink); }

.projectE3 .arrow_education:hover,
.projectE3 .arrow_education:focus,
.projectE3 .arrow_education:active{ color: var(--blue); }

.projectE3 .arrow_empowerment:hover,
.projectE3 .arrow_empowerment:focus,
.projectE3 .arrow_empowerment:active{ color: var(--green); }

 .arrow, .accordion {
   transform: rotate(0deg);
   transition: transform 0.1s ease-in-out;
}

/* without space between names or it won't work */
.arrow.active { transform: rotate(180deg); }

.projectE3 table thead th{
   font-weight: 900;
   text-transform: uppercase;
}

.projectE3 table tr td,
.projectE3 table thead th{ padding: 0 20px; }

.projectE3 table tr hr{
   border: .5px solid black;
   margin: 15px 0;
}

.projectE3 table a{
   padding: 0;
   display: block;
}

.projectE3 .table_english, .projectE3 .table_education, .projectE3 .table_empowerment{ 
   margin-bottom: -28px; 
}

.projectE3 .table_english a:hover,
.projectE3 .table_english a:focus,
.projectE3 .table_english a:active{ 
   color: #ee51af; 
}

.projectE3 .table_education a:hover,
.projectE3 .table_education a:focus,
.projectE3 .table_education a:active{ 
   color: #21a1eb; 
}

.projectE3 .table_empowerment a:hover,
.projectE3 .table_empowerment a:focus,
.projectE3 .table_empowerment a:active{ color: #24c32c; }

.projectE3 .rectangle{
   width: 490px;
   top: 440px;
   left: 0;
}

.projectE3 .circle{
   width: 310px;
   top: -40px;
   right: -10%;
   /* left: 40% */
}

               
/* Featured Project - GVS */
.project_gvs{
   padding-bottom: 25px;
   position: relative;
}

/* .project_gvs h3{ margin-bottom: 25px; } */

.project_gvs .GVS_title{
   font-family: var(--font-body);
   font-weight: 900;
   font-size: 61px;
}

.project_gvs div{ align-items: top; }

.project_gvs_img{
   background: url(../img/project_gvs.jpg);
   background-size: cover;
   background-position: top;
   border-radius: var(--radius30);
   min-height: 425px;
   grid-row: 1;
}

.project_gvs .text_box{ grid-row: 2; }

.project_gvs .gvs_locations{ grid-row: span 2; }

.project_gvs p{ margin-bottom: 25px; }

.project_gvs iframe{
   width: 100%;
   height: 100%;
   border: none;
   border-radius: var(--radius30);
   margin-bottom: -10px;
}

.project_gvs .star{
   width: 490px;
   top: -27%;
   right: 12%;
}

               
/* CTA */
.cta{ padding: 25px 0 25px; }

.cta_donate{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   align-items: center;
   border-radius: var(--radius30);
   background-color: var(--yellow);
   /* min-height: 562px; */
   height: 100%;
}

.cta .text_box{ padding: 20px 20px 20px 40px; }

.cta .text_box h4{ margin-bottom: 15px; }

.cta .text_box p{ margin-bottom: 50px; }

.cta_donate .btn_donate{ border-radius: 50px; }

.cta_donate .btn_donate a{ font-size: 1.9rem; }

.cta_donate_img{
   background: url(../img/donate.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 100%;
   border-radius: 0 30px 30px 0;
}

.cta_subscribe{
   display: flex;
   align-items: center;
   background-color: var(--blue);
   border-radius: var(--radius30);
   text-align: center;
   padding: 40px;
   height: 100%;
}

.cta_subscribe img{ 
   width: auto;
   height: 180px;
   margin: 5px auto 20px;
}

.cta_subscribe p{
   font-weight: 600;
   margin-bottom: 40px;
}

.cta_subscribe input{
   border: 1px solid black;
   border-radius: 50px;
   width: 100%;
   text-align: center;
   padding: 10px 15px;
   margin-bottom: 20px;
}

               
/* Photo Bottom */
.photo_bottom{
   background: url(../img/photo-bottom.jpg);
   background-size: cover;
   background-position: bottom;
   background-repeat: no-repeat;
   border-radius: 500px 500px;
   min-height: 615px;
   margin: 25px 0 25px 0;
   position: relative;
}

.photo_bottom .decorations .waves_single{
   width: 425px;
   left: -12%;
   z-index: 1;
}

.photo_bottom .decorations img:nth-child(1){ top: 50%; }

.photo_bottom .decorations img:nth-child(2){ top: 60%; }

.photo_bottom .decorations img:nth-child(3){ top: 70%; }

.photo_bottom .triangle{
   filter: invert(47%) sepia(25%) saturate(3526%) hue-rotate(287deg) brightness(130%) contrast(91%);
   rotate: 180deg;
   width: 310px;
   bottom: -15%;
   right: -3%;
}

               
/* Partners Slider */
.partners{
   position: relative;
   padding: 15px 0 25px;
   text-align: center;
}

.partners .container{ max-width: 1000px; }

.partner_logo{
   display: flex !important;
   background-size: cover;
   background-position: center;
   padding: 0 20px;
   position: relative;
   height: auto;
}

.partners img{
   width: 150px;
   height: auto;
}

.partners .slick-arrow{
   position: absolute;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: .4s;
   color: var(--orange);
   font-size: 2rem;
}

.partners .slick-prev{
   right: calc(100% + 20px);
	transform: translateY(-50%);
}

.partners .slick-next{
   left: calc(100% + 20px);
   transform: translateY(-50%);
}

               
/* Footer */
footer{
   background-color: var(--green);
   padding: 30px 40px 40px;
   border-radius: var(--radius30) var(--radius30) 0 0;
}

footer .grid_span3{ padding-right: 30px; }

footer .grid_span2 { padding-right: 30px; }

footer p{
   font-size: 1.125rem;
   line-height: 1.5;
   margin-bottom: 20px;
}

footer .footer_title{
   font-size: 1.5rem;
   font-weight: 900;
   text-transform: uppercase;
}

footer a{
   display: table;
   padding: 0;
   margin-bottom: 10px;
   font-size: 1.125rem;
   font-weight: 700;
   text-transform: uppercase;
}

footer a:hover, footer a:focus, footer a:active{
   text-decoration: underline;
   text-underline-offset: 5px;
}

footer .social_media{
   display: flex;
   align-items: center;
}

footer .social_media a{
   font-size: 2rem;
   margin-right: 45px;
}

/* === Media Queries === */
@media only screen and (min-width: 1730px) {
   .hero .text_box{ width: 85%; }

   .cta_subscribe{ padding: 40px 80px; }

   .about .square1, .about .square2,
   .about .square3, .about .square4{ 
      padding: 20px 40px; 
   }

   .projectE3 table tr td,
   .projectE3 table thead th{ padding: 0 40px; }
}

/* Tablet Horizontal */
@media only screen and (max-width: 1024px) {
   body{ 
      font-size: 21px; 
      overflow: hidden;
   }

   h1, h3{ 
      font-size: 50px; 
      line-height: 1.1;
      margin-top: 10px;
   }

   h2{
      font-size: 24px;
      margin-bottom: 15px;
   }

   h3{
      margin-top: 0;
   }

   h4{
      font-size: 30px;
   }

   .sticky{ position: fixed; }

   .display_grid{ grid-gap: 15px; }

   .btn_yellow{
      padding: 10px 20px;
      font-size: 16px;
   }

    .container{
      width: 1024px;
      max-width: 90%;
   }

   .logo img{ 
      margin-left: -30px;
   }

/* Menu */
   .hamburger{ 
      display: block;
      cursor: pointer;
      z-index: 1;
   }

   .hamburger:hover,
   .hamburger:focus,
   .hamburger:active {
      background-color: black;
      color: white;
   }

   .drop_menu{
      background: white;
      border-radius: var(--radius30);
      position: absolute;
      top: 29.4%;
      right: 0;
      padding: 10px;
      width: 310px;
      display: none;
   }

   .menu{
      flex-direction: column;
   }

   .menu li a{
		font-size: 20px;
	}

   .menu0{
      font-size: 30px !important;
      padding: 5px 9px 7px;
   }

               
/* Hero */
   .hero{ 
      height: 680px; 
      margin-top: 140px;
   }

   .hero .text_box{ width: 94%; }

   .hero img{ width: 275px; }
   
   .hero .photo_hero_boy{ top: 20%; }

   .hero .photo_hero_girl{ 
      top: -18%;
      left: calc(50% + 185px); 
   }

   .hero .star{
      width: 300px;
      top: -15%;
      left: calc(50% - 70px);
   }

   .hero .triangle{
      width: 200px;
      top: 70%;
      left: calc(50% + 300px);
   }

   .hero .decorations .waves_single{ width: 220px; }
   
   .hero .decorations img:nth-child(1){ 
      top: 76%; 
      left: calc(43% + 40px);
   }
   
   .hero .decorations img:nth-child(2){ 
      top: 81%; 
      left: calc(32% + 5px);
   }
   
   .hero .decorations img:nth-child(3){ 
      top: 86%; 
      left: calc(37% + 270px);
   }

               
/* About */

   .display_grid3{ grid-template-columns: 335px 1fr 1fr; }

   .about .grid_span2{ grid-column: 1; }

   .about .grid_span4{ grid-column: 2 / span 6; }
	
   .about_square{ gap: 15px; }

   .about .square1, .about .square2,
   .about .square3, .about .square4{
      width: 160px;
      height: 160px;
      padding: 10px;
   }

   .about .square1 img, .about .square2 img,
   .about .square3 img, .about .square4 img{
      width: auto;
      height: 70px;
   }

   .about_square img:nth-child(n){ margin-bottom: 5px; }

   .about .text_box{
      width: 100%;
      margin: 50px 0 0 0;
   }
               
/* Project E3 */
   .projectE3{
      padding-bottom: 20px;
   }
   .projectE3 .text_box{ min-height: 300px; }

   .projectE3 .english, .projectE3 .education,
   .projectE3 .empowerment{ 
      padding: 20px; 
      margin-top: 15px;
   }

   .projectE3 .english img, .projectE3 .education img, .projectE3 .empowerment img{
      height: 70px;
   }

   .projectE3 .arrow{ 
      font-size: 2.5rem; 
   }

   .projectE3 table tr td,
   .projectE3 table thead th{ padding: 0; }

   .projectE3 .rectangle{
      width: 320px;
      top: 270px;
      left: 12%;
   }
   
   .projectE3 .circle{
      width: 210px;
      top: -30px;
      right: 0;
   }

               
/* Featured Project - GVS */
   .project_gvs{ padding-bottom: 20px; }

   .project_gvs .GVS_title{
      font-family: var(--font-body);
      font-weight: 900;
      font-size: 41px;
      margin-bottom: 10px;
   }

   .project_gvs .grid_span6{
      grid-column: span 6;
   }

   .project_gvs_img{ min-height: 325px; }

   .project_gvs iframe{
      height: 400px;
      margin-top: 10px;
   }

   .project_gvs .star{
      width: 390px;
      top: -15%;
      right: 12%;
   }

               
/* CTA */
   .cta{ padding: 20px 0 20px; }

   .cta .text_box{ padding: 20px 0px 30px 20px; }

   .cta .text_box p{ margin-bottom: 30px; }

   .cta_donate .btn_donate a{ font-size: 24px; }

   .cta_subscribe{ padding: 20px; }

   .cta_subscribe img{ 
      height: 120px;
      margin: 5px auto 15px;
   }

   .cta_subscribe p{ margin-bottom: 20px; }

   .cta_subscribe input{ padding: 5px 10px; }

               
/* Photo Bottom */
   .photo_bottom{
      min-height: 325px;
      margin: 20px 0 20px 0;
   }

   .photo_bottom .decorations .waves_single{
      width: 260px;
      left: -10%;
      z-index: 1;
   }

   .photo_bottom .decorations img:nth-child(1){ top: 40%; }

   .photo_bottom .decorations img:nth-child(2){ top: 55%; }

   .photo_bottom .decorations img:nth-child(3){ top: 70%; }

   .photo_bottom .triangle{
      rotate: 180deg;
      width: 180px;
      bottom: -20%;
      right: -2%;
      /* left: 85%; */
   }

               
/* Partners Slider */

.partners{ padding: 15px 0 15px; }

.partners .container{ max-width: 700px; }

               
/* Footer */
   footer{ padding: 25px 30px 10px; }

   footer .display_grid{ 
      grid-template-columns: 50% 1fr 1fr;
      grid-template-rows: 1fr 1; 
   }

   footer .grid_about{ 
      grid-column: 1;
      grid-row: 1 / 3;
      padding-right: 20px; 
   }

   footer .grid_sitemap{
      grid-column: 2 / 4;
      grid-row: 1;
   }

   footer .grid_contact{ 
      grid-column: 2 / 4;
      grid-row: 2;
      padding-right: 0px; 
   }

   footer p{
      font-size: 16px;
      margin-bottom: 15px;
   }

   footer .footer_title{ 
      font-size: 21px; 
      line-height: 1;
   }

   footer a{
      display: inline-block;
      margin: 0 20px 30px 0;
      font-size: 16px;
   }

   footer .social_media a{
      font-size: 2.3rem;
      margin-right: 45px;
   }

}
